mat-dialog-content {
  overflow: hidden;
  height: fit-content;
  margin: 0;
  padding: 0 12px;
  max-height: 84vh;
  width: 100%;
max-width: 700px;
}



body {
  overflow: hidden;
h2 {
  margin-bottom: 8px;
}
}
